# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\serge\Projects\TechSpokes\Themes\Dauphin Island Beach Rentals\dauphinislandbeachrentals\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
